
body{
    background-color: #655d42;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
}

h2{
    color: #75a0e8;
}
h1{
    color:#75a0e8;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
}
em{
    font-weight: bold;
    color: yellow;
}
p img{
    width: 20vw;
}
p::first-letter{
    font-size: 150%;
    color: white;
}
.showme{
    display: none;
}
li>.showme:hover{
    display: block;
}